.missions-outer {
  padding: 2rem 1.6rem;
}

.missions-table {
  border: 0.6px solid gray;
}

.mission-column,
.each-mission td {
  padding: 0.6rem 1rem;
  border-right: 1px solid gray;
  border-bottom: 1px solid gray;
}

.not-a-member,
.join-mission,
.active-member,
.leave-mission {
  min-width: 115px;
  display: flex;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  font-size: 0.875rem;
  font-weight: 700;
  letter-spacing: normal;
  justify-content: center;
}

.not-a-member {
  background: rgb(89, 86, 86);
  color: #fff;
  padding: 0.2rem;
  border-radius: 4px;
}

.active-member {
  background: #20bbbd;
  color: #fff;
  padding: 0.2rem;
  border-radius: 4px;
}

.join-mission {
  background: none;
  padding: 0.6rem 0.3rem;
  border-radius: 4px;
}

.leave-mission {
  border: 1px solid red;
  padding: 0.6rem 0.3rem;
  background: none;
  color: red;
  border-radius: 4px;
}

.each-mission:nth-child(odd) {
  background-color: rgb(229, 228, 228);
}
