.logo-image {
  width: 50px;
  height: auto;
}

nav {
  display: flex;
  justify-content: space-between;
  padding: 1.8rem 0 2.8rem 0;
  border-bottom: 1px solid gray;
}

.logo-name {
  display: flex;
  gap: 0.8rem;
  justify-content: center;
  align-items: center;
}

.nav-links {
  display: flex;
  gap: 1.8rem;
  justify-content: center;
  align-items: center;
}

.link {
  list-style: none;
}

.link a {
  text-decoration: none;
  color: rgb(58, 90, 235);
}
