.profile-outer {
  display: grid;
  grid-template-columns: 49% 49%;
  gap: 2%;
  padding: 3rem;
  height: 100%;
}

.filtered-missions {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.mission-names,
.rocket-names {
  border: 1px solid gray;
}

.each-mission-name
.each-rocket-name {
  border-bottom: 1px solid gray;
  padding: 1.6rem;
}
