.rocket-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.rocket-card {
    width: 300px;
    margin: 10px;
    padding: 10px;
    background-color: #f5f5f5;
    border-radius: 5px;
    text-align: center;
}

.rocket-card img {
    width: 100%;
    /* height: auto; */
    margin-bottom: 10px;
}

.rocket-details {
    font-size: 76px;
}