.rocket-list {
  display: flex;
  flex-direction: column;
  gap: 40px;
  padding-top: 25px;
  padding-left: 25px;
}

.rocket-card {
  display: flex;
  flex-direction: row;
  gap: 2rem;
}

.rocket-card img {
  width: 250px;
}

.rocket-details h3 {
  font-size: 20px;
  padding-bottom: 5px;
}

.rocket-details p {
  font-size: 20px;
  padding-bottom: 15px;
  padding-top: 15px;
}

.rocket-details button {
  padding: 10px;
  min-width: 150px;
  font-size: 15px;
  background-color: rgba(0, 68, 255, 0.684);
  color: aliceblue;
  border-radius: 7px;
}
